.cover{
    background-image: linear-gradient(rgba(100,100,100,0.7),rgba(100,100,100,0.7)), url("../Images/ragazzi3Home.jpg");
}
section{
    text-align: center;
}
titolo{
    font-size: 36px;
    font-weight: 600;
}
.rowContatti{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.colContatti{
    flex-basis: 31%;
    background-color: #f0ead2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.colContatti a{
    color: #777;
    text-decoration: none;
    font-weight: 600;
}
.colContatti a:hover{
    text-decoration: underline;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.colContatti:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .rowContatti{
        flex-direction: column;
    }
}