
html{
    background-color: black;
}

#bodyIntestazione{
    padding:0;
    margin:0;
    background-color: rgb(88, 129, 87);
}

h1.titolo{
    color: black;
    display: flex;
    justify-content: center;
}

#divIntestazione{
    position: fixed;
    text-align: center;
    height: 60px;
    width: 100%;
    z-index:99;
    background-color: rgb(88, 129, 87);
    align-items: center;
}

#navIntestazione{
    background-color: black;
    padding-top: 60px;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:inherit;
}

#navIntestazione ul{
    display: inline-flex;
    list-style: none;
    align-items: center;
}

#navIntestazione ul a{
    text-decoration: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

#mainBody{
    padding-top: 110px;
}