#loginBody{
    /*background-image: URL("../images/login.jpg");*
    /*background-repeat: no-repeat;*
    /*background-size: 100%;*/
    padding-top: 32px;
    background-color: rgb(88, 129, 87);
    height: 56%;
}

.elementLogin {
    text-align: center;
}

.elementLogin h1{
    font-size: 30px;
}
