h2{
    text-align: center;
}

h2 span{
    color: rgb(88, 129, 87);;
}

.barra{
    display: flex;
    justify-content: center;
    width:100%
}

.lista{
    position: relative;
    padding: 20px 0;
    background: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.lista .elemento{
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.lista .elemento:last-child{
    border-right: none;
}
.lista .elemento a{
    text-decoration: none;
    padding: 0 50px;
    display: block;
}
.lista .elemento a .icon{
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
}
.lista .elemento a .icon ion-icon{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: black;
}
.lista .elemento a .icon ion-icon:last-child{
    color: rgb(88, 129, 87);
}
.lista .elemento a:hover .icon ion-icon{
    transform: translateY(-100%);
}
.lista .elemento a .testo{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
}
.lista .elemento a .testo span{
    display: block;
    position: relative;
    color: black;
    font-size: 18px;
    line-height: 20px;
    transition: 0.5s;
}
.lista .elemento a .testo span:before{
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(88, 129, 87);
}
.lista .elemento a:hover .testo span{
    transform: translateY(20px);
}

/*
#mainSimpOrAd{
    background-color: rgb(88, 129, 87);
    background-color: cyan;
    padding: 10px;
    height: 65%;
}

.classSimpOrAd{
    width: 100%;

    background-color: rgb(88, 129, 87);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup{
    width: 400px;
    background-color: lightgreen;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

a{
    color: white;
}

/*




