*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

div{
    position:fixed;

    width: 100%;
    height: 50px;

    justify-content:center;

    text-align: center;
    background-color: rgb(88, 129, 87);

    z-index:inherit;
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}